* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.container {
    padding-top: 13px;
    margin: 0 auto;
    width: 1920px;
    height: 6581px;
    background-color: #ffffff;
    background: url(images/bg_main.jpg) no-repeat;
}

.header {
    margin-top: -36px;
    width: 1920px;
    height: 83px;
    background-color: #000000;
    opacity: 0.5;
}

.logo {
    margin-left: 475px;
    margin-top: 32px;
    padding-top: 19px;
}

.logo-toptxt {
    width: 169px;
    height: 29px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.77px;
    margin-bottom: 5px;
}

.logo-bottomtxt {
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 30.75px;
    margin-left: 2px;
    display: inline-block;
    margin-top: 0;
    float: left;
}

.phone {
    display: flex;
}

.nav {
    margin-left: 703px;
}

.phone {
    line-height: 25px;
    margin-left: 108px;
    margin-bottom: 30px;
    margin-top: -20px;
    float: left;
}

.phone-span {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    margin-left: 14px;
    margin-top: 2px
}

.mail {
    display: flex;
    float: left;
    margin-left: 39px;
    margin-top: -15.5px;
}

.mail-span {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    margin-left: 14px;
}

.search {
    width: 208px;
    height: 38px;
    float: left;
    display: flex;
    margin-left: 100px;
    margin-top: -26px;
}

.search-input {
    background-color: #000000;
    border: 1px solid #ffff;
    border-right: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    width: 157px;
    line-height: 34px;
    padding-left: 16px;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-button {
    width: 50px;
    background-color: #000000;
    border: 1px solid #ffffff
}

.nav {
    margin: 0;
    padding-top: 29px;
    clear: both;
    width: 1920px;
    height: 78px;
    border-bottom: 1px solid #ffffff;
}

.menu {
    list-style: none;
    margin: 0 auto;
    width: 521px;
    height: 16px;
}

.menu-list {
    float: left;
    margin: auto;
    height: 50px;
}

.menu-link {
    margin: 0 13px;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.menu-list--active {
    border-bottom: 3px solid #ffffff;
}

.menu-link--active {
    color: #ffffff;
}

.menu-list:first-child a {
    margin-left: 10px;
}

.menu-list:last-child a {
    margin-right: 0px;
}

.upperText {
    width: fit-content;
    margin: 0 auto;
    margin-top: 130px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
}

.dash {
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 16px;
}

.middleText {
    width: fit-content;
    color: #ffffff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin: 0 auto;
    line-height: 60px;
    margin-top: 74px;
}

.shortcuts {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 64px;
}

.shortcuts-round {
    margin: auto 6px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.aboutUs {
    width: 971px;
    height: 338px;
    margin: 0 auto;
    margin-top: 222px;
}

.aboutUs-h3 {
    float: left;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    margin-top: 14px;
}

.aboutUs-p {
    width: 398px;
    float: left;
    clear: both;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 24px;
    margin: 20px 32px 20px 1px;
}

.services {
    width: 1923px;
    height: 762px;
    padding-top: 92px;
    background-color: #f7f7f7;
    margin-top: 81px;
    clear: both;
    text-align: center;
}

.services-h3 {
    width: fit-content;
    margin: 0 auto;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

.services-right, .services-left {
    width: 450px;
    display: inline-block;
    margin-top: 87px;
}
.services-right {
    margin-right: 45px;
}
.services-left {
    margin-left: 45px;
}

.services-block {
    width: 450px;
    height: 102px;
    margin-bottom: 73px;
}

.services-h4 {
    width: fit-content;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.services-h4--right {
    float: right;
}

.services-h4--left {
    float: left;
}

.services-h4--active {
    color: #f44336;
}

.services-p {
    margin-top: 8px;
    width: 282px;
    height: 51px;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}
.services-p--right {
    clear: both;
    text-align: right;
    display: inline-block
}

.services-p--left {
    clear: both;
    text-align: left;
    display: inline-block
}

.services-logo {
    display: inline-block;
    width: 102px;
    height: 102px;
    border: 1px solid #acacac;
    background-color: #e1e1e1;
    text-align: center;
    line-height: 102px;
    border-radius: 50%;
}

.services-logo--right {
    float: right;
    margin-left: 66px;
}

.services-logo--left {
    float: left;
    margin-right: 66px;
}

.services-logo--active {
    background-color: #f44336;
}