* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

.clearfix {
    clear: both;
}

.container {
    padding-top: 13px;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1024px;
    height: 6581px;
    background-color: #ffffff;
}

.slider {
    background: url(images/bg_main.jpg) no-repeat;
    background-size: initial;
    background-position: center;
    height: 725px;
}

.header {
    margin-top: 10px;
    height: 83px;
    background-color: #000000;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 172px;
    height: 46px
}

.logo-toptxt {
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.77px;
}

.logo-bottomtxt {
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 30.75px;
    margin-left: 2px;
}

.phone {
    width: 130px;
    height: 25px;
    line-height: 25px;
    float: left;
    display: flex;
    margin-left: 158px;
}

.phone-span {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    margin-left: 8px;
    line-height: 30px;
}

.mail {
    width: 167px;
    height: 20px;
    display: flex;
    float: left;
    margin-left: 39px;
}

.mail-span {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    margin-left: 14px;
}

.search {
    width: 208px;
    height: 38px;
    float: left;
    display: flex;
    margin-left: 100px;
}

.search-input {
    background-color: #000000;
    border: 1px solid #ffff;
    border-right: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    width: 157px;
    line-height: 34px;
    padding-left: 16px;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-button {
    width: 50px;
    background-color: #000000;
    border: 1px solid #ffffff
}

.nav {
    margin: 0;
    padding-top: 29px;
    clear: both;
    height: 78px;
    border-bottom: 1px solid #ffffff;
}

.menu {
    list-style: none;
    margin: 0 auto;
    width: 521px;
    height: 16px;
    display: flex;
}

.menu-list {
    float: left;
    margin: auto;
    height: 50px;
}

.menu-link {
    margin: 0 13px;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.menu-list--active {
    border-bottom: 3px solid #ffffff;
}

.menu-link--active {
    color: #ffffff;
}

.menu-list:first-child a {
    margin-left: 10px;
}

.menu-list:last-child a {
    margin-right: 0px;
}

.sliderContent {
    clear: both;
    height: 542px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sliderContent-upperText {
    width: fit-content;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    margin-top: 134px;
}

.sliderContent-dash {
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 16px;
}

.sliderContent-middleText {
    width: fit-content;
    color: #ffffff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 60px;
    margin-top: 74px;
}

.sliderContent-shortcuts {
    display: flex;
    width: fit-content;
    margin-top: 64px;
}

.sliderContent-shortcuts-round {
    margin: auto 6px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.aboutUs {
    width: 971px;
    height: 338px;
    margin: 0 auto;
    margin-top: 81px;
}

.aboutUs-h3 {
    float: left;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    margin-top: 14px;
}

.aboutUs-p {
    width: 398px;
    float: left;
    clear: both;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 24px;
    margin: 20px 32px 20px 1px;
}

.services {
    height: 762px;
    padding-top: 92px;
    background-color: #f7f7f7;
    margin-top: 81px;
    clear: both;
    text-align: center;
}

.services-h3 {
    width: fit-content;
    margin: 0 auto;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

.services-right,
.services-left {
    width: 450px;
    display: inline-block;
    margin-top: 87px;
}

.services-right {
    margin-right: 45px;
}

.services-left {
    margin-left: 45px;
}

.services-block {
    width: 450px;
    height: 102px;
    margin-bottom: 73px;
}

.services-h4 {
    width: fit-content;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.services-h4--right {
    float: right;
}

.services-h4--left {
    float: left;
}

.services-h4--active {
    color: #f44336;
}

.services-p {
    margin-top: 8px;
    width: 282px;
    height: 51px;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.services-p--right {
    clear: both;
    text-align: right;
    display: inline-block
}

.services-p--left {
    clear: both;
    text-align: left;
    display: inline-block
}

.services-logo {
    display: inline-block;
    width: 102px;
    height: 102px;
    border: 1px solid #acacac;
    background-color: #e1e1e1;
    text-align: center;
    line-height: 102px;
    border-radius: 50%;
}

.services-logo--right {
    float: right;
    margin-left: 66px;
}

.services-logo--left {
    float: left;
    margin-right: 66px;
}

.services-logo--active {
    background-color: #f44336;
}

.gallery-h4 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 93px;
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
}

.gallery {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 92px;
}

.gallery-block {
    position: relative;
    float: left;
    background-color: #f7f7f7;
    height: 481px;
    width: 270px;
    text-align: center;
    margin: 0 14px;
}

.gallery-h5 {
    text-align: center;
    max-width: 169px;
    margin: 0 auto;
    margin-top: 20px;
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.14px;
}

.gallery-button {
    width: 130px;
    height: 30px;
    background-color: #f44336;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
    border: none;
    position: absolute;
    bottom: 8px;
    right: 70px
}

.gallery-span {
    text-transform: uppercase;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 55px;
    height: 537px;
    background-image: url(images/testimonial.jpg);
    background-position: center;
    margin: 0 auto;
    margin-top: 186px;
}

.testimonial-h3 {
    width: fit-content;
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}

.testimonial-quot {
    width: fit-content;
}

.testimonial-centralPart {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-bottom: 93px;
}

.testimonial-content {
    max-width: 935px;
    min-width: 550px;
    margin: 0 5px;
}

.testimonial-p {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.testimonial-p--john {
    margin-top: 14px;
}

.testimonial-p span {
    font-family: "Roboto - Bold Condensed";
    font-size: 16px;
    font-weight: 400;
}

.testimonial-arrowLeft,
.testimonial-arrowRight {
    color: #ffffff;
    font-family: "Font Awesome";
    font-size: 30px;
    font-weight: 400;
    margin-top: 9px;
    border: 1px solid #ffffff;
    width: 37px;
    height: 37px;
    text-align: center;
}