* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

.clearfix {
    clear: both;
}

.container {
    padding-top: 13px;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1024px;
    height: 6581px;
    background-color: #ffffff;
}

.slider {
    background: url(images/bg_main.jpg) no-repeat;
    background-size: initial;
    background-position: center;
    height: 725px;
}

.header {
    margin-top: 10px;
    height: 83px;
    background-color: #000000;
    opacity: 0.5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 172px;
    height: 46px
}

.logo-toptxt {
    color: #ffffff;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.77px;
}

.logo-bottomtxt {
    color: #ffffff;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 30.75px;
    margin-left: 2px;
}

.phone {
    width: 130px;
    height: 25px;
    line-height: 25px;
    float: left;
    display: flex;
    margin-left: 158px;
}

.phone-span {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    margin-left: 8px;
    line-height: 30px;
}

.mail {
    width: 167px;
    height: 20px;
    display: flex;
    float: left;
    margin-left: 39px;
}

.mail-span {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    margin-left: 14px;
}

.search {
    width: 208px;
    height: 38px;
    float: left;
    display: flex;
    margin-left: 100px;
}

.search-input {
    background-color: #000000;
    border: 1px solid #ffff;
    border-right: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.36px;
    width: 157px;
    line-height: 34px;
    padding-left: 16px;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-button {
    width: 50px;
    background-color: #000000;
    border: 1px solid #ffffff
}

.nav {
    margin: 0;
    padding-top: 29px;
    clear: both;
    height: 78px;
    border-bottom: 1px solid #ffffff;
}

.menu {
    list-style: none;
    margin: 0 auto;
    width: 521px;
    height: 16px;
    display: flex;
}

.menu-list {
    float: left;
    margin: auto;
    height: 50px;
}

.menu-link {
    margin: 0 13px;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.36px;
}

.menu-link:hover {
    color: #999;
}

.menu-link:active {
    color: #ccc;
}

.menu-list--active {
    border-bottom: 3px solid #ffffff;
}

.menu-link--active {
    color: #ffffff;
}

.menu-list:first-child a {
    margin-left: 10px;
}

.menu-list:last-child a {
    margin-right: 0px;
}

.sliderContent {
    clear: both;
    height: 542px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sliderContent-upperText {
    width: fit-content;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.18px;
    margin-top: 134px;
}

.sliderContent-dash {
    width: 80px;
    height: 2px;
    background-color: #ffffff;
    margin-top: 16px;
}

.sliderContent-middleText {
    width: fit-content;
    color: #ffffff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 60px;
    margin-top: 74px;
}

.sliderContent-shortcuts {
    display: flex;
    width: fit-content;
    margin-top: 64px;
}

.sliderContent-shortcuts-round {
    margin: auto 6px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.aboutUs {
    height: 338px;
    margin: 0 auto;
    margin-top: 81px;
    display: flex;
    justify-content: center;
}

h3 {
    color: #f44336;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
}

.aboutUs-content {
    width: 398px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 33px;
}

.aboutUs-h3 {
    margin-top: 14px;
}

.aboutUs-p {
    width: 398px;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.12px;
    line-height: 24px;
    margin: 20px 32px 20px 1px;
}

.services {
    height: 762px;
    padding-top: 82px;
    background-color: #f7f7f7;
    margin-top: 81px;
    clear: both;
    text-align: center;
}

.services-h3 {
    width: fit-content;
    margin: 0 auto;
    line-height: 48px;
}

.services-right,
.services-left {
    width: 450px;
    display: inline-block;
    margin-top: 77px;
}

.services-right {
    margin-right: 45px;
}

.services-left {
    margin-left: 45px;
}

.services-block {
    width: 450px;
    height: 102px;
    margin-bottom: 73px;
}

.services-h4 {
    width: fit-content;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.services-h4--right {
    float: right;
}

.services-h4--left {
    float: left;
}

.services-h4--active {
    color: #f44336;
}

.services-p {
    margin-top: 8px;
    width: 282px;
    height: 51px;
    color: #999999;
    font-family: "Roboto Condensed";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.services-p--right {
    clear: both;
    text-align: right;
    display: inline-block
}

.services-p--left {
    clear: both;
    text-align: left;
    display: inline-block
}

.services-logo {
    display: inline-block;
    width: 102px;
    height: 102px;
    border: 1px solid #acacac;
    background-color: #e1e1e1;
    text-align: center;
    line-height: 102px;
    border-radius: 50%;
}

.services-logo--right {
    float: right;
    margin-left: 66px;
}

.services-logo--left {
    float: left;
    margin-right: 66px;
}

.services-logo--active {
    background-color: #f44336;
}

.gallery-h3 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 83px;
    line-height: 48px;
}

.gallery {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 82px;
}

.gallery-block {
    position: relative;
    float: left;
    background-color: #f7f7f7;
    height: 481px;
    width: 270px;
    text-align: center;
    margin: 0 14px;
}

.gallery-h5 {
    text-align: center;
    max-width: 169px;
    margin: 0 auto;
    margin-top: 20px;
    color: #000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.14px;
}

.gallery-button {
    width: 130px;
    height: 30px;
    background-color: #f44336;
    color: #ffffff;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
    border: none;
    position: absolute;
    bottom: 8px;
    right: 70px
}

.gallery-button:hover {
    background-color: #ff6666;
}

.gallery-button:active {
    background-color: #ff2222;
}

.gallery-span {
    text-transform: uppercase;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 55px;
    height: 537px;
    background-image: url(images/testimonial.jpg);
    background-position: center;
    margin: 0 auto;
    margin-top: 186px;
}

.testimonial-h3 {
    width: fit-content;
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
}

.testimonial-quot {
    width: fit-content;
}

.testimonial-centralPart {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-bottom: 93px;
}

.testimonial-content {
    max-width: 935px;
    min-width: 550px;
    margin: 0 5px;
}

.testimonial-p {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.testimonial-p--john {
    margin-top: 14px;
}

.testimonial-p span {
    font-family: "Roboto - Bold Condensed";
    font-size: 16px;
    font-weight: 400;
}

.testimonial-arrowLeft,
.testimonial-arrowRight {
    color: #ffffff;
    font-family: "Font Awesome";
    font-size: 30px;
    font-weight: 400;
    margin-top: 9px;
    border: 1px solid #ffffff;
    width: 37px;
    height: 37px;
    text-align: center;
}

.news-h3 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 87px;
}

.news {
    height: 677px;
    display: flex;
    justify-content: center;
    margin-top: 92px;
}

.news-latest {
    width: 494px;
    margin-left: 100px;
}

.news-latest-block {
    height: 139px;
    width: 473px;
    display: flex;
    align-items: center;
}

.news-latest-block--center {
    margin-top: 55px;
    margin-bottom: 55px;
}

.news-h4 {
    color: #000000;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

.news-latest-date {
    width: 98px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-day {
    color: #000000;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
}

.date-month {
    color: #9e9e9e;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}

.date-year {
    color: #9e9e9e;
    font-family: "Poppins - Medium Italic";
    font-size: 13px;
    font-weight: 400;
}

.news-latest-content {
    height: 98px;
    width: 308px;
}

.news-latest-h5 {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
}

.news-latest-p {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.news-featured {
    width: 570px;
}

.featured-header {
    display: flex;
    justify-content: space-between;
}

.news-arrows {
    color: #000000;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    float: left;
}

.featured-line {
    clear: both;
    width: 570px;
    height: 1px;
    background-color: #c5c5c5;
}

.featured-images {
    display: flex;
    margin-top: 32px;
}

.featured-assumenda {
    width: 570px;
    margin-top: 34px;
    list-style: none;
}

.featured-assumenda-li {
    margin: 2px 0;
    width: 570px;
    height: 40px;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;
}

.featured-assumenda--active {
    height: 180px;
}

.asumenda-li-p {
    margin-left: 13px;
    color: #505050;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.first-arrow {
    position: absolute;
    right: 56px;
    top: -10px;
}

.team {
    position: relative;
    height: 785px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.members {
    display: flex;
    justify-content: center;
    margin-top: 61px;
}

.team-member {
    margin: 0 15px;
}

.team-h4 {
    color: #f44336;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
}

.team-p {
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 300;
}

.pics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 17px;
}

.pics-square {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    margin-right: 15px;
}

.subscribe {
    height: 313px;
    background: url(images/subscribe-bg.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-p {
    color: #ffffff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    margin-top: 6px;
}

.subscribe-form {
    margin-top: 56px;
}

.subscribe-submit {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    background-color: #f44336;
    border: none;
    width: 119px;
    height: 53px;
    margin-left: 12px;
}

.subscribe-submit:hover {
    background-color: #ff6666;
}

.subscribe-submit:active {
    background-color: #ff2222;
}

.subscribe-email {
    width: 499px;
    height: 55px;
    border: none;
    padding-left: 35px;
    color: #8e8e8e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
}

.contact-h3 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 77px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
}

.inTouch {
    width: 386px;
    height: 303px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-right: 25px;
}

.inTouch-h4 {
    color: #f44336;
    font-family: "Roboto Condensed";
    font-size: 26px;
    font-weight: 400;
}

.inTouch-p {
    color: #9e9e9e;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin: 10px 0;
}

.inTouch-span {
    color: #f44336;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: 303px;
    width: 470px;
    margin-left: 90px;
}

.contact-input-text {
    border: 1px solid #999999;
    color: #838383;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    width: 470px;
    height: 42px;
    padding-left: 30px;
    margin: 10px 0;
}

.contact-input-textarea {
    height: 168px;
}

.contact-input-submit {
    background-color: #f44336;
    border: none;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
}

.contact-input-submit:hover {
    background-color: #ff6666;
}

.contact-input-submit:active {
    background-color: #ff2222;
}

.route-h3 {
    width: fit-content;
    margin: 0 auto;
    margin-top: 76px;
}

.img-route {
    width: 1169px;
    height: 298px;
    background: url(images/route.jpg);
    background-position: center;
    margin: 0 auto;
    margin-top: 20px;
}

footer {
    max-width: 1920px;
    min-width: 1024px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Arial Narrow";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    margin-top: -71px;
}